In [1]:
# Importing the Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Importing the warnings

import warnings
warnings.filterwarnings('ignore')

In [130]:
# Loading the dataset

data = pd.read_csv(r"C:\Users\Shashi\Model Building\Supervised Learning\Regression Model\Logistic Regression lasso_ridge\Datasets_LassoRidge\Life_expectencey_LR.csv")

In [131]:
# Checking the head of data

data.head()

,Country,Year,Status,Life_expectancy,Adult_Mortality,infant_deaths,Alcohol,percentage_expenditure,Hepatitis_B,Measles,...,Polio,Total_expenditure,Diphtheria,HIV_AIDS,GDP,Population,thinness,thinness_yr,Income_composition,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [132]:
# Checking the shape

data.shape

(2938, 22)

In [133]:
# Checking the information

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 2938 non-null   object
 1   Year                    2938 non-null   int64
 2   Status                  2938 non-null   object
 3   Life_expectancy         2928 non-null   float64
 4   Adult_Mortality         2928 non-null   float64
 5   infant_deaths           2938 non-null   int64
 6   Alcohol                 2744 non-null   float64
 7   percentage_expenditure  2938 non-null   float64
 8   Hepatitis_B             2385 non-null   float64
 9   Measles                 2938 non-null   int64
 10  BMI                     2904 non-null   float64
 11  under_five_deaths       2938 non-null   int64
 12  Polio                   2919 non-null   float64
 13  Total_expenditure       2712 non-null   float64
 14  Diphtheria              2919 non-null   float64
 15  HIV_AIDS                2938 non-null   float64
 16  GDP                     2490 non-null   float64
 17  Population              2286 non-null   float64
 18  thinness                2904 non-null   float64
 19  thinness_yr             2904 non-null   float64
 20  Income_composition      2771 non-null   float64
 21  Schooling               2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [108]:
# Importing Sweetviz

import sweetviz as sv

In [109]:
analyze_report = sv.analyze(data)
analyze_report.show_html('analyze.html', open_browser = True)

                                             |                                             | [  0%]   00:00 ->â€¦

Report analyze.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [110]:
analyze_report.show_html()

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [134]:
# Checking the duplicates

duplicates = data.duplicated()
sum(duplicates)

0

In [135]:
# Checking the Zero Variance

data.var() == 0

Year                      False
Life_expectancy           False
Adult_Mortality           False
infant_deaths             False
Alcohol                   False
percentage_expenditure    False
Hepatitis_B               False
Measles                   False
BMI                       False
under_five_deaths         False
Polio                     False
Total_expenditure         False
Diphtheria                False
HIV_AIDS                  False
GDP                       False
Population                False
thinness                  False
thinness_yr               False
Income_composition        False
Schooling                 False
dtype: bool

In [136]:
# Checking the Missing Values

data.isna().sum()

Country                     0
Year                        0
Status                      0
Life_expectancy            10
Adult_Mortality            10
infant_deaths               0
Alcohol                   194
percentage_expenditure      0
Hepatitis_B               553
Measles                     0
BMI                        34
under_five_deaths           0
Polio                      19
Total_expenditure         226
Diphtheria                 19
HIV_AIDS                    0
GDP                       448
Population                652
thinness                   34
thinness_yr                34
Income_composition        167
Schooling                 163
dtype: int64

In [137]:
# I am talking mean to fillna because it is average as weighted average

data['Life_expectancy'] = data['Life_expectancy'].fillna(data['Life_expectancy'].mean)
data['Adult_Mortality'] = data['Adult_Mortality'].fillna(data['Adult_Mortality'].mean)
data['Alcohol'] = data['Alcohol'].fillna(data['Alcohol'].mean)
data['Hepatitis_B'] = data['Hepatitis_B'].fillna(data['Hepatitis_B'].mean)
data['BMI'] = data['BMI'].fillna(data['BMI'].mean)
data['Polio'] = data['Polio'].fillna(data['Polio'].mean)
data['Total_expenditure'] = data['Total_expenditure'].fillna(data['Total_expenditure'].mean)
data['Diphtheria'] = data['Diphtheria'].fillna(data['Diphtheria'].mean)
data['GDP'] = data['GDP'].fillna(data['GDP'].mean)
data['Population'] = data['Population'].fillna(data['Population'].mean)
data['thinness'] = data['thinness'].fillna(data['thinness'].mean)
data['thinness_yr'] = data['thinness_yr'].fillna(data['thinness_yr'].mean)
data['Income_composition'] = data['Income_composition'].fillna(data['Income_composition'].mean)
data['Schooling'] = data['Schooling'].fillna(data['Schooling'].mean)

In [138]:
data.isna().sum()

Country                   0
Year                      0
Status                    0
Life_expectancy           0
Adult_Mortality           0
infant_deaths             0
Alcohol                   0
percentage_expenditure    0
Hepatitis_B               0
Measles                   0
BMI                       0
under_five_deaths         0
Polio                     0
Total_expenditure         0
Diphtheria                0
HIV_AIDS                  0
GDP                       0
Population                0
thinness                  0
thinness_yr               0
Income_composition        0
Schooling                 0
dtype: int64

In [139]:
data['Status'].value_counts()

Developing    2426
Developed      512
Name: Status, dtype: int64

In [140]:
data['Country'].value_counts()

Afghanistan              16
Peru                     16
Nicaragua                16
Niger                    16
Nigeria                  16
                         ..
Niue                      1
San Marino                1
Nauru                     1
Saint Kitts and Nevis     1
Dominica                  1
Name: Country, Length: 193, dtype: int64

In [141]:
# 1 hot Encoding

from sklearn.preprocessing import LabelEncoder

In [142]:
enc = LabelEncoder()

data['Country'] = enc.fit_transform(data['Country'])
data['Status'] = enc.fit_transform(data['Status'])

In [143]:
data

,Country,Year,Status,Life_expectancy,Adult_Mortality,infant_deaths,Alcohol,percentage_expenditure,Hepatitis_B,Measles,...,Polio,Total_expenditure,Diphtheria,HIV_AIDS,GDP,Population,thinness,thinness_yr,Income_composition,Schooling
0,0,2015,1,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.25921,33736494.0,17.2,17.3,0.479,10.1
1,0,2014,1,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,0,2013,1,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.47,9.9
3,0,2012,1,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959,3696958.0,17.9,18.0,0.463,9.8
4,0,2011,1,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,192,2004,1,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,192,2003,1,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,192,2002,1,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.34834,125525.0,1.2,1.3,0.427,10.0
2936,192,2001,1,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,192,2000,1,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.1,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [125]:
# Type convertion 

data.dtypes

Adult_Mortality            object
Alcohol                    object
BMI                        object
Country                   float64
Diphtheria                 object
GDP                        object
HIV_AIDS                  float64
Hepatitis_B                object
Income_composition         object
Life_expectancy            object
Measles                   float64
Polio                      object
Population                 object
Schooling                  object
Status                    float64
Total_expenditure          object
Year                      float64
infant_deaths             float64
percentage_expenditure    float64
thinness                   object
thinness_yr                object
under_five_deaths         float64
dtype: object

In [148]:
data['Adult_Mortality'].isna().sum()

2938

In [149]:
data['Adult_Mortality'].value_counts()

Series([], Name: Adult_Mortality, dtype: int64)

In [150]:
#data = data.round()

In [151]:
data

,Adult_Mortality,Alcohol,BMI,Country,Diphtheria,GDP,HIV_AIDS,Hepatitis_B,Income_composition,Life_expectancy,...,Population,Schooling,Status,Total_expenditure,Year,infant_deaths,percentage_expenditure,thinness,thinness_yr,under_five_deaths
0,NaN,NaN,NaN,0.0,NaN,NaN,0.000000,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,1.000000,0.034444,0.003659,NaN,NaN,0.0332
1,NaN,NaN,NaN,0.0,NaN,NaN,0.000000,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,0.933333,0.035556,0.003774,NaN,NaN,0.0344
2,NaN,NaN,NaN,0.0,NaN,NaN,0.000000,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,0.866667,0.036667,0.003759,NaN,NaN,0.0356
3,NaN,NaN,NaN,0.0,NaN,NaN,0.000000,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,0.800000,0.038333,0.004014,NaN,NaN,0.0372
4,NaN,NaN,NaN,0.0,NaN,NaN,0.000000,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,0.733333,0.039444,0.000364,NaN,NaN,0.0388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,NaN,NaN,NaN,1.0,NaN,NaN,0.663366,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,0.266667,0.015000,0.000000,NaN,NaN,0.0168
2934,NaN,NaN,NaN,1.0,NaN,NaN,0.724752,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,0.200000,0.014444,0.000000,NaN,NaN,0.0164
2935,NaN,NaN,NaN,1.0,NaN,NaN,0.786139,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,0.133333,0.013889,0.000000,NaN,NaN,0.0160
2936,NaN,NaN,NaN,1.0,NaN,NaN,0.831683,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,0.066667,0.013889,0.000000,NaN,NaN,0.0156
2937,NaN,NaN,NaN,1.0,NaN,NaN,0.859406,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,0.000000,0.013333,0.000000,NaN,NaN,0.0156

In [129]:
data.isna().sum()

Adult_Mortality           2938
Alcohol                   2938
BMI                       2938
Country                      0
Diphtheria                2938
GDP                       2938
HIV_AIDS                     0
Hepatitis_B               2938
Income_composition        2938
Life_expectancy           2938
Measles                      0
Polio                     2938
Population                2938
Schooling                 2938
Status                       0
Total_expenditure         2938
Year                         0
infant_deaths                0
percentage_expenditure       0
thinness                  2938
thinness_yr               2938
under_five_deaths            0
dtype: int64

In [152]:
data = pd.DataFrame(data)

In [153]:
data.dtypes

Adult_Mortality            object
Alcohol                    object
BMI                        object
Country                   float64
Diphtheria                 object
GDP                        object
HIV_AIDS                  float64
Hepatitis_B                object
Income_composition         object
Life_expectancy            object
Measles                   float64
Polio                      object
Population                 object
Schooling                  object
Status                    float64
Total_expenditure          object
Year                      float64
infant_deaths             float64
percentage_expenditure    float64
thinness                   object
thinness_yr                object
under_five_deaths         float64
dtype: object

In [154]:
 data['Life_expectancy'].value_counts()

Series([], Name: Life_expectancy, dtype: int64)

In [155]:
data

,Adult_Mortality,Alcohol,BMI,Country,Diphtheria,GDP,HIV_AIDS,Hepatitis_B,Income_composition,Life_expectancy,...,Population,Schooling,Status,Total_expenditure,Year,infant_deaths,percentage_expenditure,thinness,thinness_yr,under_five_deaths
0,NaN,NaN,NaN,0.0,NaN,NaN,0.000000,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,1.000000,0.034444,0.003659,NaN,NaN,0.0332
1,NaN,NaN,NaN,0.0,NaN,NaN,0.000000,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,0.933333,0.035556,0.003774,NaN,NaN,0.0344
2,NaN,NaN,NaN,0.0,NaN,NaN,0.000000,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,0.866667,0.036667,0.003759,NaN,NaN,0.0356
3,NaN,NaN,NaN,0.0,NaN,NaN,0.000000,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,0.800000,0.038333,0.004014,NaN,NaN,0.0372
4,NaN,NaN,NaN,0.0,NaN,NaN,0.000000,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,0.733333,0.039444,0.000364,NaN,NaN,0.0388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,NaN,NaN,NaN,1.0,NaN,NaN,0.663366,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,0.266667,0.015000,0.000000,NaN,NaN,0.0168
2934,NaN,NaN,NaN,1.0,NaN,NaN,0.724752,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,0.200000,0.014444,0.000000,NaN,NaN,0.0164
2935,NaN,NaN,NaN,1.0,NaN,NaN,0.786139,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,0.133333,0.013889,0.000000,NaN,NaN,0.0160
2936,NaN,NaN,NaN,1.0,NaN,NaN,0.831683,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,0.066667,0.013889,0.000000,NaN,NaN,0.0156
2937,NaN,NaN,NaN,1.0,NaN,NaN,0.859406,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,0.000000,0.013333,0.000000,NaN,NaN,0.0156

In [156]:
data = data.fillna(0)

In [157]:
data

,Adult_Mortality,Alcohol,BMI,Country,Diphtheria,GDP,HIV_AIDS,Hepatitis_B,Income_composition,Life_expectancy,...,Population,Schooling,Status,Total_expenditure,Year,infant_deaths,percentage_expenditure,thinness,thinness_yr,under_five_deaths
0,0,0,0,0.0,0,0,0.000000,0,0,0,...,0,0,1.0,0,1.000000,0.034444,0.003659,0,0,0.0332
1,0,0,0,0.0,0,0,0.000000,0,0,0,...,0,0,1.0,0,0.933333,0.035556,0.003774,0,0,0.0344
2,0,0,0,0.0,0,0,0.000000,0,0,0,...,0,0,1.0,0,0.866667,0.036667,0.003759,0,0,0.0356
3,0,0,0,0.0,0,0,0.000000,0,0,0,...,0,0,1.0,0,0.800000,0.038333,0.004014,0,0,0.0372
4,0,0,0,0.0,0,0,0.000000,0,0,0,...,0,0,1.0,0,0.733333,0.039444,0.000364,0,0,0.0388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,0,0,0,1.0,0,0,0.663366,0,0,0,...,0,0,1.0,0,0.266667,0.015000,0.000000,0,0,0.0168
2934,0,0,0,1.0,0,0,0.724752,0,0,0,...,0,0,1.0,0,0.200000,0.014444,0.000000,0,0,0.0164
2935,0,0,0,1.0,0,0,0.786139,0,0,0,...,0,0,1.0,0,0.133333,0.013889,0.000000,0,0,0.0160
2936,0,0,0,1.0,0,0,0.831683,0,0,0,...,0,0,1.0,0,0.066667,0.013889,0.000000,0,0,0.0156
2937,0,0,0,1.0,0,0,0.859406,0,0,0,...,0,0,1.0,0,0.000000,0.013333,0.000000,0,0,0.0156

In [158]:
# Checking the describe

data.describe()

,Adult_Mortality,Alcohol,BMI,Country,Diphtheria,GDP,HIV_AIDS,Hepatitis_B,Income_composition,Life_expectancy,...,Population,Schooling,Status,Total_expenditure,Year,infant_deaths,percentage_expenditure,thinness,thinness_yr,under_five_deaths
count,2938.0,2938.0,2938.0,2938.000000,2938.0,2938.0,2938.000000,2938.0,2938.0,2938.0,...,2938.0,2938.0,2938.000000,2938.0,2938.000000,2938.000000,2938.000000,2938.0,2938.0,2938.000000
mean,0.0,0.0,0.0,0.495293,0.0,0.0,0.032517,0.0,0.0,0.0,...,0.0,0.0,0.825732,0.0,0.501248,0.016836,0.037898,0.0,0.0,0.016814
std,0.0,0.0,0.0,0.292942,0.0,0.0,0.100550,0.0,0.0,0.0,...,0.0,0.0,0.379405,0.0,0.307589,0.065515,0.102049,0.0,0.0,0.064178
min,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000
25%,0.0,0.0,0.0,0.239583,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,1.000000,0.0,0.266667,0.000000,0.000241,0.0,0.0,0.000000
50%,0.0,0.0,0.0,0.484375,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,1.000000,0.0,0.533333,0.001667,0.003332,0.0,0.0,0.001600
75%,0.0,0.0,0.0,0.755208,0.0,0.0,0.013861,0.0,0.0,0.0,...,0.0,0.0,1.000000,0.0,0.800000,0.012222,0.022666,0.0,0.0,0.011200
max,0.0,0.0,0.0,1.000000,0.0,0.0,1.000000,0.0,0.0,0.0,...,0.0,0.0,1.000000,0.0,1.000000,1.000000,1.000000,0.0,0.0,1.000000

In [159]:
# standardization using scaler min = 0, max = 1

def norm_fun(i):
    x = (i - i.min())/(i.max() - i.min())
    
    return x

In [160]:
data_norm = norm_fun(data)
data = pd.DataFrame(data_norm)
data.describe()

,Adult_Mortality,Alcohol,BMI,Country,Diphtheria,GDP,HIV_AIDS,Hepatitis_B,Income_composition,Life_expectancy,...,Population,Schooling,Status,Total_expenditure,Year,infant_deaths,percentage_expenditure,thinness,thinness_yr,under_five_deaths
count,0.0,0.0,0.0,2938.000000,0.0,0.0,2938.000000,0.0,0.0,0.0,...,0.0,0.0,2938.000000,0.0,2938.000000,2938.000000,2938.000000,0.0,0.0,2938.000000
mean,NaN,NaN,NaN,0.495293,NaN,NaN,0.032517,NaN,NaN,NaN,...,NaN,NaN,0.825732,NaN,0.501248,0.016836,0.037898,NaN,NaN,0.016814
std,NaN,NaN,NaN,0.292942,NaN,NaN,0.100550,NaN,NaN,NaN,...,NaN,NaN,0.379405,NaN,0.307589,0.065515,0.102049,NaN,NaN,0.064178
min,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,0.000000,0.000000,0.000000,NaN,NaN,0.000000
25%,NaN,NaN,NaN,0.239583,NaN,NaN,0.000000,NaN,NaN,NaN,...,NaN,NaN,1.000000,NaN,0.266667,0.000000,0.000241,NaN,NaN,0.000000
50%,NaN,NaN,NaN,0.484375,NaN,NaN,0.000000,NaN,NaN,NaN,...,NaN,NaN,1.000000,NaN,0.533333,0.001667,0.003332,NaN,NaN,0.001600
75%,NaN,NaN,NaN,0.755208,NaN,NaN,0.013861,NaN,NaN,NaN,...,NaN,NaN,1.000000,NaN,0.800000,0.012222,0.022666,NaN,NaN,0.011200
max,NaN,NaN,NaN,1.000000,NaN,NaN,1.000000,NaN,NaN,NaN,...,NaN,NaN,1.000000,NaN,1.000000,1.000000,1.000000,NaN,NaN,1.000000

In [161]:
data.isna().sum()

Adult_Mortality           2938
Alcohol                   2938
BMI                       2938
Country                      0
Diphtheria                2938
GDP                       2938
HIV_AIDS                     0
Hepatitis_B               2938
Income_composition        2938
Life_expectancy           2938
Measles                      0
Polio                     2938
Population                2938
Schooling                 2938
Status                       0
Total_expenditure         2938
Year                         0
infant_deaths                0
percentage_expenditure       0
thinness                  2938
thinness_yr               2938
under_five_deaths            0
dtype: int64

In [164]:
data = data.fillna(0)

In [166]:
data

,Adult_Mortality,Alcohol,BMI,Country,Diphtheria,GDP,HIV_AIDS,Hepatitis_B,Income_composition,Life_expectancy,...,Population,Schooling,Status,Total_expenditure,Year,infant_deaths,percentage_expenditure,thinness,thinness_yr,under_five_deaths
0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.000000,0.034444,0.003659,0.0,0.0,0.0332
1,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.933333,0.035556,0.003774,0.0,0.0,0.0344
2,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.866667,0.036667,0.003759,0.0,0.0,0.0356
3,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.800000,0.038333,0.004014,0.0,0.0,0.0372
4,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.733333,0.039444,0.000364,0.0,0.0,0.0388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,0.0,0.0,0.0,1.0,0.0,0.0,0.663366,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.266667,0.015000,0.000000,0.0,0.0,0.0168
2934,0.0,0.0,0.0,1.0,0.0,0.0,0.724752,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.200000,0.014444,0.000000,0.0,0.0,0.0164
2935,0.0,0.0,0.0,1.0,0.0,0.0,0.786139,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.133333,0.013889,0.000000,0.0,0.0,0.0160
2936,0.0,0.0,0.0,1.0,0.0,0.0,0.831683,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.066667,0.013889,0.000000,0.0,0.0,0.0156
2937,0.0,0.0,0.0,1.0,0.0,0.0,0.859406,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.000000,0.013333,0.000000,0.0,0.0,0.0156

In [167]:
# Spliting the data

X = data.drop(labels = ['Country'], axis = 1)
Y = data.Country

In [169]:
# Importing the train test split

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 0)

In [173]:
# Continous to Discreate

X = (X > 0).astype(int)
Y = (Y > 0).astype(int)

x_train = (x_train > 0).astype(int)
y_train = (y_train > 0).astype(int)

x_test = (x_test > 0).astype(int)
y_test = (y_test > 0).astype(int)

data = (data > 0).astype(int)

In [174]:
# Model Building

from sklearn.linear_model import LogisticRegression

In [175]:
model = LogisticRegression()
model.fit(x_train, y_train)

# Checking the model score for training set

model.score(X, Y)

0.9945541184479237

In [180]:
model.score(x_train, y_train)

0.995136186770428

In [181]:
model.score(x_test, y_test)

0.9931972789115646

In [176]:
y_pred = model.predict(x_test)

In [178]:
# Importing confusion_matrix and Accuracy_score

from sklearn.metrics import confusion_matrix, accuracy_score

cm = confusion_matrix(y_pred, y_test)
print(cm)

accuracy_score(y_pred, y_test)

[[  0   0]
 [  6 876]]

0.9931972789115646

In [179]:
## K-fold cross validation

from sklearn.model_selection import cross_val_score

score = cross_val_score(model, X, Y, scoring='accuracy', cv = 10)
print(score)
print(score.mean())

[0.99319728 0.99319728 0.99319728 0.99319728 0.99319728 0.99319728
 0.99659864 0.99659864 0.99658703 0.99658703]
0.9945555013814399

### Result : The Training and Testing dataset are pretty good as same, Concluding the model is Right Fit